[run]
branch = True
parallel = True
source = slopped
omit =
    .tox/*/tmp/_trial_temp/*
    */slopped/internet/gtk2reactor.py

[paths]
source=
   src/slopped
   */src/slopped
   */site-packages/slopped
   benchmarks

[report]
precision = 2
ignore_errors = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING
    \s*\.\.\.$
    raise NotImplementedError
